/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Lemon
COLOR CODE: #ff0000
----------------------------------------- */
/* text-theme-color */
.text-theme-colored {
  color: #ff0000 !important;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #ff0000 !important;
}
/* background-theme-color */
.bg-theme-colored {
  background-color: #181819 !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #ff0000 !important;
  border-color: #ff0000 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
/* box-shadow */
.box-shadow,
.icon-box .icon.icon-border-effect::after {
  -webkit-box-shadow: #ff0000;
  -moz-box-shadow: #ff0000;
  box-shadow: 0 0 0 3px #ff0000;
}
.outline-border,
.clients-logo img {
  outline: 2px solid;
  outline-offset: 5px;
}
.outline-border {
  outline-color: #ff0000;
}
/* border-theme-color */
.border-theme-colored {
  border-color: #ff0000 !important;
}
/* background-color-transparent */
.bg-theme-colored-transparent,
.post .entry-meta.meta-absolute,
.hvr-rectangle-out::before,
.overlay-shade {
  background-color: rgba(255, 0, 0, 0.2) !important;
}
.img-icon-box:before {
  background-color: rgba(255, 100, 100, 0.8);
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.menuzord.orange .menuzord-menu > li.active > a,
.menuzord.orange .menuzord-menu > li:hover > a,
.menuzord.orange .menuzord-menu ul.dropdown li:hover > a,
.sidebar-widget .tags a:hover,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.sidebar .tags a:hover,
.drop-caps .colored-square,
.horizontal-tab-centered .nav-pills > li > a:hover,
.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table.table-bordered.class-time td:hover,
.line-bottom::after,
.icon-switcher,
.trainer-item.style2 .social-network li:hover i {
  /*background: #ff0000;*/
      background-image: linear-gradient(182deg, whitesmoke, red);
}
.stylish-header,
.stylish-header:before {
  background: #ff0000;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.title,
ul.list li::before,
.post .entry-content .entry-title,
.trainer-item.style2 .social-network li a i {
  color: #ff0000;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.clients-logo img {
  border: 1px solid #ff0000;
}
.lll {
  border: #ff0000;
}
/* border-left-color */
blockquote {
  border-left: 3px solid #ff0000;
}
/* border-top-color */
.stylish-header:after {
  -webkit-border-top: 80px solid #ff0000;
  -moz-border-top: 80px solid #ff0000;
  -ms-border-top: 80px solid #ff0000;
  -o-border-top: 80px solid #ff0000;
  border-top: 80px solid #ff0000;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #ff0000;
}
.opening-hourse ul li {
  border-bottom: 1px dashed #ff0000 !important;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.btn-default.btn-theme-colored {
  color: #ff0000;
  background-color: #fff;
  border-color: #ff0000;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #ff0000;
  background-color: #e6e6e6;
  border-color: #3d4701;
}
.btn-default.btn-theme-colored:hover {
  color: #ff0000;
  background-color: #e6e6e6;
  border-color: #768801;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #ff0000;
  background-color: #e6e6e6;
  border-color: #768801;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #ff0000;
  background-color: #d4d4d4;
  border-color: #3d4701;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #ff0000;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #ff0000;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #ff0000;
  background-color: #fff;
  border-color: #ff0000;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #ff0000;
  background-color: #e6e6e6;
  border-color: #3d4701;
}
.btn-border.btn-theme-colored:hover {
  color: #ff0000;
  background-color: #e6e6e6;
  border-color: #768801;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #ff0000;
  background-color: #e6e6e6;
  border-color: #768801;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #ff0000;
  background-color: #d4d4d4;
  border-color: #3d4701;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #ff0000;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #ff0000;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #7f9301;
  border-color: #7f9301;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #7f9301;
  border-color: #3d4701;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #7f9301;
  border-color: #768801;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #7f9301;
  border-color: #768801;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #606f01;
  border-color: #3d4701;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-dark.btn-theme-colored .badge {
  color: #ff0000;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #d7f703;
  border-color: #d7f703;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #ff0000;
  border-color: #697901;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #a2bb02;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #ff0000;
  border-color: #a2bb02;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #8ca202;
  border-color: #697901;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #d7f703;
  border-color: #d7f703;
}
.btn-gray.btn-theme-colored .badge {
  color: #d7f703;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #7f9301;
  border-color: #3d4701;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #7f9301;
  border-color: #768801;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #7f9301;
  border-color: #768801;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #606f01;
  border-color: #3d4701;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-theme-colored .badge {
  color: #ff0000;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #7f9301;
  border-color: #7f9301;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #ff0000;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #ff0000;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #d7f703;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #7f9301;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #ff0000;
}
.icon-theme-colored.icon-bordered a {
  border-color: #ff0000;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #ff0000;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #ff0000;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #7f9301;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #ff0000;
  color: #ff0000;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #ff0000;
}
.icon-theme-colored.icon-gray a:hover {
  color: #7f9301;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #ff0000;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #ff0000;
}
.icon-theme-colored a:hover {
  color: #7f9301;
}
.icon-hover-theme-colored a:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #ff0000;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #ff0000;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #ff0000;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #ff0000;
  color: #ff0000;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #ff0000;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #ff0000;
}
